<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>管理</title>
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/AdminLTE.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="../css/style.css">
	<script src="../plugins/jQuery/jquery-2.2.3.min.js"></script>
    <script src="../plugins/bootstrap/js/bootstrap.min.js"></script>
    
    <script type="text/javascript" src="../plugins/angularjs/angular.min.js">  </script>
    <!-- 分页组件开始 -->
	<script src="../plugins/angularjs/pagination.js"></script>
	<link rel="stylesheet" href="../plugins/angularjs/pagination.css">
	<!-- 分页组件结束 -->
    
    
    <script type="text/javascript" src="../js/base_pagination.js">  </script>
    <script type="text/javascript" src="../js/service/mynewsService.js">  </script>
    <script type="text/javascript" src="../js/controller/baseController.js">  </script>
    <script type="text/javascript" src="../js/controller/mynewsController.js">  </script>
        <style>
        .table{
    table-layout: fixed;
}
.table-content{
  word-wrap:break-word;
  table-layout:fixed;

}
.table-content-hidden{
  word-wrap:break-word;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
  -o-text-overflow:ellipsis;
  -moz-text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
}
    
    </style>
    
</head>
<body class="hold-transition skin-red sidebar-mini" ng-app="jiaoyu" ng-controller="mynewsController" >
  <!-- .box-body -->
                    <div class="box-header with-border">
                        <h3 class="box-title">新闻管理</h3>
                    </div>

                    <div class="box-body">

                        <!-- 数据表格 -->
                        <div class="table-box">

                            <!--工具栏-->
                            <div>
                                <div class="form-group form-inline">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default" title="新建" data-toggle="modal" data-target="#editModal" ng-click="entity={}"><i class="fa fa-file-o"></i> 新建</button>
                                        <button type="button" class="btn btn-default" title="删除" ng-click="dele()"><i class="fa fa-trash-o"></i> 删除</button>           
                                        <button type="button" class="btn btn-default" title="刷新" onclick="window.location.reload();"><i class="fa fa-refresh"></i> 刷新</button>
                                    </div>
                                </div>
                            </div>
                            <div class="box-tools pull-right">
                                <div class="has-feedback">							       
                                </div>
                            </div>
                            <!--工具栏/-->
							<div class="table-responsive">
			                  <!--数据列表-->
			                  <table id="dataList" class="table table-bordered table-striped table-hover dataTable" style="width:1000px;">
			                      <thead>
			                          <tr>
			                              <th class="" style="padding-right:0px;width:80px;">
			                                  <input id="selall" type="checkbox" class="icheckbox_square-blue">
			                              </th> 
										                               <th class="sorting"  style="width:100px;">新闻编号</th>			
                             <th class="sorting"  style="width:300px;">新闻内容</th>			
                             <th class="sorting"  style="width:200px;">新闻标题</th>			
                             <th class="sorting"  style="width:100px;">创建时间</th>			
                             <th class="sorting"  style="width:80px;">浏览数</th>			
                             <th class="sorting"  style="width:100px;">用户编号</th>			
							<th class="sorting"  style="width:100px;">用户编号</th>		     				
					           <th class="text-center"  style="width:100px;">新闻链接</th>
			                          </tr>
			                      </thead>
			                      <tbody>
			                          <tr ng-repeat="entity in list">
			                              <td><input  type="checkbox" ng-click="updateSelection($event,entity.newsid)"></td>			                              
				                                                       <td>{{entity.newsid}}</td>			
                             <td>
                              <div style="overflow-x:hidden;height:40px;">
                             {{entity.newcontainer}}
                             </div>
                             </td>			
                             <td> <div style="overflow:hidden;height:40px;">
                             {{entity.newstitle}}
                             </div>
                             </td>			
                             <td>
                             {{entity.createDate}}
                             </td>			
                             <td>{{entity.viewcount}}</td>			
                             <td>{{entity.userid}}</td>			
		                      <td>{{entity.newurl}}</td>      
		                                  <td class="text-center">                                           
		                                 	  <button type="button" class="btn bg-olive btn-xs" data-toggle="modal" data-target="#editModal" ng-click="findOne(entity.newsid)" >修改</button>                                           
		                                  </td>
			                          </tr>									 
			                      </tbody>
			                  </table>
			                  <!--数据列表/-->  
			                  </div>                      
                        </div>
                        <!-- 数据表格 /-->
                        <!-- 分页 -->
						<tm-pagination conf="paginationConf"></tm-pagination>
                     </div>
                    <!-- /.box-body -->
         
<!-- 编辑窗口 -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" >
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3 id="myModalLabel">编辑</h3>
		</div>
		<div class="modal-body">	
			 <table class="table table-bordered table-striped"  width="800px">			
		      	  		      	<tr>
                             
<td>新闻内容</td>

                             <td><input  class="form-control" ng-model="entity.newcontainer" placeholder="新闻内容" ></td>

                        </tr>		
		      	<tr>
                             
<td>新闻题目</td>

                             <td><input  class="form-control" ng-model="entity.newstitle" placeholder="新闻题目" ></td>

                        </tr>		
		      	<tr>
                             
<td>创建时间</td>

                             <td><input  class="form-control" ng-model="entity.createDate" placeholder="创建时间" ></td>

                        </tr>		
		      	<tr>
                             
<td>浏览数</td>

                             <td><input  class="form-control" ng-model="entity.viewcount" placeholder="浏览数" ></td>

                        </tr>		
		      	<tr>                           
<td>用户编号</td>

                             <td><input  class="form-control" ng-model="entity.userid" placeholder="用户编号" ></td>

                        </tr>		
                        <td>新闻链接</td>

                             <td><input  class="form-control" ng-model="entity.userid" placeholder="新闻链接" ></td>

                        </tr>	
		  		      	
			 </table>				
		</div>
		<div class="modal-footer">						
			<button class="btn btn-success" data-dismiss="modal" aria-hidden="true" ng-click="save()">保存</button>
			<button class="btn btn-default" data-dismiss="modal" aria-hidden="true">关闭</button>
		</div>
	  </div>
	</div>
</div>
   
</body>
</html>
